@model IEnumerable<Products>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 bg-secondary dragSource" id="shopping-cart" style="float:left;border:1px solid red;overflow: auto;height:500px;">
                Product List
                <div class="block">
                    <div class="row row-cols-1 row-cols-md-3 g-4 overflow-hidden">
                        @foreach (var product in Model)
                        {
                            <div class="col" ondragover="AllowDrop(event)">
                                <div class="card productName" id="productId_@product.ProductId" style="width: 14rem;height:15rem;" ondragstart="DragStart(event)" draggable="true">
                                    <center>
                                        <img src="@product.ImageUrl" id="productImg" style="width:50%;" alt="@product.ProductName" draggable="false">
                                    </center>
                                    <div class="card-body button" id="productName">
                                        <div class="justify-content-between mt-2">
                                            <h2 class="text-start fs-6 text-nowrap" style="width: 3rem;">
                                                Item :
                                                <a asp-controller="Product" asp-action="Details"
                                               asp-route-id="@product.ProductId" class="link">@product.ProductName</a>
                                            </h2>
                                            <h5 class="text-nowrap fs-6" style="width: 6rem;" id="price">@product.Price.ToString()</h5>
                                            <h6 class="text-nowrap fs-6" style="width: 6rem;" id="discount">@product.Discount.ToString()</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div class="col-sm-4 text-dark" style="border:1px solid blue;overflow-y:auto;height:500px;" ondrop="DropEvent(event)" ondragover="AllowDrop(event)">
                Cart :
                <span id="countItem">0</span>&nbsp;&nbsp;&nbsp;                
                Total Amount : <span id="total" style="position:absolute;">0</span>
                <button type="button" class="btn btn-outline-secondary float-right" onclick="ClrarCart()" style='float:right;'>Buy</button>
              
                <div id="cart">

               </div>
            </div>
        </div>
    </div>
</body>
</html>


@section Scripts
    {
    <script>
        //$(document).ready(function(){
        //   var cart= JSON.parse(localStorage.getItem('cartitem'));
        //    cart.forEach(function(item){
        //       var crtitem=JSON.parse(item);
        //        $('#cart').html(crtitem)
        //    })
        //})

        var count = 0;
        var totalprice = 0;
        var productId = 0;
        var name = "";
        var productName = "";
        var price = "";
        var imageSrc = "";

        function DragStart(event) {
            console.log("Drag Started from product list");
            var dragId = event.target.id;
            productId = +dragId.replace("productId_", "");
            price = $('#' + dragId + ' #productName h5').text();
            name = $('#' + dragId + ' #productName a').text();
            productName = $('#' + dragId + ' #productName a').text();
            discount = $('#' + dragId + ' #productName h6').text();
            imageSrc = $('#' + dragId + ' img').attr("src");
        }

        function DropEvent(event) {

            $('#cart').append("<div id=child><p>" + productName + "</p><p>" + price + "</p><p>" + discount + "</p><img height=50 width=50 src='" + imageSrc + "'</div ><br><button class=remove - item onClick=removeProduct()>Remove</button> ")
            //count++;

            let cartItem = { productId: productId, image: imageSrc, productName: productName, price: price, discount: discount };
            var jsonobj = JSON.stringify(cartItem);
            console.log(jsonobj);

            var cartArray = new Array();
            if (localStorage.getItem('cartitem')) {
                cartArray = JSON.parse(localStorage.getItem('cartitem'));
            }
            cartArray.push(jsonobj);
            var cartjson = JSON.stringify(cartArray);
            localStorage.setItem('cartitem', cartjson);
            //console.log(JSON.stringify(cartArray));
            //console.log(localStorage.getItem('cartitem'))

            // showprice();
            var quantity = 0;
            var Amount = 0;
            var Discount=0;
            var total=0;
            var subtotal = 0;
            var cartRowHTML = "";
            var itemCount = 0;
            var grandTotal = 0;
            var Cartitem = "";
            debugger;

            if (localStorage.getItem('cartitem')) {
                var shoppingCart = JSON.parse(localStorage.getItem('cartitem'));
                itemCount = shoppingCart.length;

                shoppingCart.forEach(function (item) {
                    Cartitem = JSON.parse(item);
                    //Cartitem =item;
                    Amount = parseFloat(Cartitem.price);
                    Discount = parseFloat(Cartitem.discount);
                    total = parseFloat(Amount - Discount);
                    subtotal += total;
                    //grandTotal += subtotal;
                });
            }
            console.log(subtotal);

            $('#countItem').text(itemCount);
            $('#total').text("$" + subtotal);
        }

        function ClrarCart() {
            if (localStorage.getItem('cartitem')) {
                localStorage.removeItem('cartitem');
                $('#cart').empty();
                $('#countItem').text('0');
                $('#total').text('0');
            }
        }

        function removeProduct() {

            let cart = JSON.parse(localStorage.getItem('cartitem'))

            const index = cart.findIndex(user => user.productId == productId);
            cart.splice(index);
            localStorage.setItem('cartitem', JSON.stringify(cart));
           
        }
    </script>
    }



