@model IEnumerable<Products>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 bg-secondary dragSource" id="shopping-cart" style="float:left;border:1px solid red;overflow: auto;height:500px;">
                Product List
                <div class="block">
                    <div class="row row-cols-1 row-cols-md-3 g-4 overflow-hidden">
                        @foreach (var product in Model)
                        {
                            <div class="col" ondragover="AllowDrop(event)">
                                <div class="card productName" id="productId_@product.ProductId" style="width: 14rem;height:15rem;" ondragstart="DragStart(event)" draggable="true">
                                    <center>
                                        <img src="@product.ImageUrl" class="card-img-top img-fluid" id="productImg" style="width:50%;height:100px;" alt="@product.ProductName" draggable="false">
                                    </center>
                                    <div class="card-body" id="productName">
                                        <div class="card-text d-grid">
                                            <h2 class="text-start fs-6 text-nowrap" style="width: 3rem;">
                                                Item :
                                                <a asp-controller="Product" asp-action="Details"
                                               asp-route-id="@product.ProductId" class="link">@product.ProductName</a>
                                            </h2>
                                            <h5 class="text-nowrap fs-6" style="width: 6rem;" id="price">@product.Price.ToString()</h5>
                                            <h6 class="text-nowrap fs-6" style="width: 6rem;" id="discount">@product.Discount.ToString()</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div class="col-sm-4 text-dark" style="border:1px solid blue;overflow-y:auto;height:500px;" ondrop="DropEvent(event)" ondragover="AllowDrop(event)">
                <div>
                    Cart :
                    <span id="countItem" style="color:blue">0</span>&nbsp;&nbsp;&nbsp;
                    Total Amount : <span id="total" style="color:blue">0</span>
                    <button type="button" class="btn btn-outline-secondary float-right" onclick="ClearCart()" style='float:right;font-size: 12px'>Buy</button>

                </div>
                <br />
                <div id="cart">
                </div>
            </div>
        </div>
    </div>
</body>
</html>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            updateCart();
        })

        var count = 0;
        var totalprice = 0;
        var productId = 0;
        var name = "";
        var productName = "";
        var price = "";
        var imageSrc = "";

        function DragStart(event) {
            console.log("Drag Started from product list");
            var dragId = event.target.id;
            productId = +dragId.replace("productId_", "");
            price = $('#' + dragId + ' #productName h5').text();
            name = $('#' + dragId + ' #productName a').text();
            productName = $('#' + dragId + ' #productName a').text();
            discount = $('#' + dragId + ' #productName h6').text();
            imageSrc = $('#' + dragId + ' img').attr("src");
            produtQuantity = 1;
        }

        function DropEvent(event) {
           
            var cart = JSON.parse(localStorage.getItem('cartitem'));
           
            if (cart == null) {

                let products = [];
                let product = { productId: productId, imageSrc: imageSrc, productName: productName, price: price, discount: discount, produtQuantity: 1 };
                if (localStorage.getItem('cartitem')) {
                    cartArray = JSON.parse(localStorage.getItem('cartitem'));
                }
                products.push(product);
                localStorage.setItem("cartitem", JSON.stringify(products))
              
            }
            else {
                let pcart = JSON.parse(localStorage.getItem('cartitem'));
                let oldprouct = pcart.find(item => item.productId == productId);
                if (oldprouct) {
                    oldprouct.produtQuantity = oldprouct.produtQuantity + 1;
                    pcart.map((item) => {
                        if (item.productId == oldprouct.productId) {
                            item.produtQuantity = oldprouct.produtQuantity;
                        }
                    })
                    localStorage.setItem('cartitem', JSON.stringify(pcart));

                }
                else {
                    let product = { productId: productId, imageSrc: imageSrc, productName: productName, price: price, discount: discount, produtQuantity: 1 };
                    pcart.push(product);
                    localStorage.setItem('cartitem', JSON.stringify(pcart));                    
                }
            }
            updateCart();
        }

        function ClearCart() {
            if (localStorage.getItem('cartitem')) {
                localStorage.removeItem('cartitem');
                $('#cart').empty();
                $('#countItem').text('0');
                $('#total').text('0');
            }
        }

        function removeProduct(id) {
            var totalprice = 0;
            var totaldiscount = 0;
            var quantity = 0;
            var totalquantity = 0;
            var total = 0;
            let cart = JSON.parse(localStorage.getItem('cartitem'));
            let temp = cart.filter(item => item.productId != id);
            localStorage.setItem('cartitem', JSON.stringify(temp));
            
            //var count = 0;
            //var index = -1;
            //cart.map((item) => {                
            //    if (item.productId == id) {
            //        index = count;
            //    }
            //    count++;
            //})
            //cart.splice(index, 1);
            //localStorage.setItem('cartitem', JSON.stringify(cart));
            $('#cartitem_' + id).remove();

            updateCart();

           
        }

        function updateCart() {
            var totalprice = 0;
            var totaldiscount = 0;
            var quantity=0;
            var totalquantity=0;
            var total=0;
            let cart = JSON.parse(localStorage.getItem('cartitem'));         

            cart.forEach(function (item) {                
                Amount = parseFloat(item.price);
                Discount = parseFloat(item.discount);
                quantity = item.produtQuantity;
                totaldiscount = Amount - Discount;
                total = totaldiscount * quantity;
                totalprice += total;
                totalquantity+=quantity;
            })

            let table=`<div>`
            ;

            cart.map((item)=>{
                table += `<div id="cartitem_${item.productId}" class='row'>
                <div class='col-3' style='float:left;'>
                <img height=100 width = 70 src ="${item.imageSrc}">
                </div>
                <div class='col-9' style='float:right;'> ${item.productName}<br>${item.price}<br>${item.discount}<br>${item.produtQuantity}<br>Total : ${item.produtQuantity * (item.price - item.discount)}</div >
                <div><button onClick=removeProduct(${item.productId})>Remove</button></div>
                </div>`
            })
           
            table=table+`</div>`
            $("#cart").html(table);

            //cart.map((item) => {
             //var list = JSON.parse(item);
             //$('#cart').append("<div id='cartitem_" + list.productId + "' class='row'><div class=class='col-3' style='float:left;'><img height=100 width = 70 src = '" + list.imageSrc + "' < /div><div class='col-9' style='float:right;'>" + list.productName + "<br>" + list.price + "<br>" + list.discount + "<br>" + list.produtQuantity + "</div ><div><button onClick=removeProduct(" + list.productId + ")>Remove</button></div></div><br>")
              //$('#cart').append("<div id='cartitem_" + ${item.productId} + "' class='row'><div class=class='col-3' style='float:left;'><img height=100 width = 70 src = '" + ${item.imageSrc} + "' < /div><div class='col-9' style='float:right;'>" + ${item.productName} + "<br>" + ${item.price} + "<br>" + ${item.discount} + "<br>" + ${item.produtQuantity} + "</div ><div><button onClick=removeProduct(" + ${item.productId} + ")>Remove</button></div></div><br>")
            //  $('#cart').html("<div id='cartitem_" + item.productId  + "' class='row'><div class=class='col-3' style='float:left;'><img height=100 width = 70 src = '" +  item.imageSrc  + "' < /div><div class='col-9' style='float:right;'>" +  item.productName  + "<br>" +  item.price  + "<br>" + item.discount  + "<br>" +  item.produtQuantity  + "</div ><div><button onClick=removeProduct(" +  item.productId  + ")>Remove</button></div></div><br>")
            //})
          
            $('#countItem').html(totalquantity);
            $('#total').text("$" + totalprice);
        }
    </script>
    }



